<p>directives-example works!</p>

<p class="text-white bg-danger" *ngIf="loggedIn;else block">LoggedIn</p>

<ng-template #block>
    <p>LoggedOf</p>
</ng-template>

<p class="text-white bg-danger" *ngFor="let s of subjects">{{s}}</p>
<p class="text-white bg-danger" *ngFor="let s of name">{{s}}</p>

<h4>List Items</h4>
<ul class="list-group" *ngFor="let s of name">
    <li class="list-group-item text-white bg-danger" >{{s}}</li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Marks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.firstname}}</th>
        <td>{{student.lastname}}</td>
        <td>{{student.marks}}</td>
      </tr>
    </tbody>
  </table>

<hr>

<div *ngIf="status; then ifblock else elseblock"></div>
<ng-template #ifblock>
  <p>Status is true</p>
</ng-template>

<ng-template #elseblock>
  <p>Status is false</p>
</ng-template>