<p>attributedirectives works!</p>
<p [ngClass]="[classes.bg,classes.tc,classes.m]">Hello</p>
<p [ngClass]="{'bg-danger':true,'bg-success':false}">Hello-2</p>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;" [ngClass]="{'bg-dark':darktheme, 'bg-primary':!darktheme}">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

    <button class="btn btn-primary" (click) ="toggle()">
        Change Theme
    </button>

  </div>

  <div>
    <h3 [ngStyle]="boxStyles()">Hello</h3>
</div>

<button class="btn btn-primary" (click)="changeHighlight()">Change theme</button>