<div class="container border border-primary">
    <ul>
        <li>One way Data Binding</li>
        <ol>
            <li>Interpolation</li>
            <p>{{firstname}} {{lastname}} {{age}}</p>
            <p>{{6+11}}</p>

            <li>Property Binding</li>
            <input type="text" [value]="firstname">
            <input type="text" value="{{age}}"> <!--interpolation--> 

            <li>Event Binding</li>
            <button class="btn btn-primary" (dblclick)="showAlert()">Click</button>
            <p [style.color] ="color">Style Binding</p>
            <h1 [style.border] ="border">Hello</h1>
            <h2 [style.background-color] ="background">background</h2>
        </ol>
        <li>Two way Data Binding</li>
        <input type="text" [(ngModel)]="firstname">
    </ul>
</div>